body{
margin: 0; 
font-family: 'Courier New', Courier, monospace; 
background:linear-gradient(to bottom,#e3fc87,#ffb2f7) ; 
display: flex; 
height: 100%; 
justify-content: center; 
align-items: center; 
text-align: center;
} 
.container{ 
    display: flex; 
    background-color: aliceblue; 
    padding: 20px; 
    border-radius: 5px; 
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    width: 90%; 
    margin: 10px;  
    flex-direction: column; 
    justify-content: center;
    text-align: center;
    align-items: center;
} 
h2{ 
    font-weight: 400; 
} 
.input{ 
    padding: 20px 10px; 
    font-size: 18px; 
    background-color: aliceblue; 
    border-radius: 5px; 
    text-align: center; 
    width: 100px;

} 
.gallery{
    display: none;
}
.gallery img{ 
    width: 400px; 
    height: 250px; 
    object-fit: cover; 
    border-radius: 5px; 
    margin: 5px; 
    
}
.errorMessage{ 
    color: #e84797; 
    font-weight: 600;
    margin: 10px;
display: none; 

}
.btn{
    text-transform: uppercase;
    width: 250px; 
    height: 45px;
    margin: 20px 0px; 
    font-size: 18px; 
    background-color: #203f9a;  
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(19, 185, 83, 0.708) ; 
    color:#94c2da; 
}
.btn:hover{ 
    color: #e84797; 
    background-color: #e3fc87; 
    cursor: pointer; 
    transition: background-color 300ms ease-in-out;
} 
