body{
    margin: 0; 
    font-family: 'Courier New', Courier, monospace; 
    background: linear-gradient(to right , rgb(254, 87, 87),rgb(101, 101, 239)) ;
    min-height: 100vh; 
    display: flex;
    justify-content: center;  
    align-items: center;
} 
.container{ 
    background: rgba(255, 255, 255 ,0.3);
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0,0, 0, 0.3); 
    border-radius: 10px; 
    width: 85%; 
    max-width: 450px; 
    min-width: 350px; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    font-size: 18px; 
}  
h1{
    font-size: 32px; 
}
.temperature-container{ 
    padding: 15px; 
    font-weight: bold; 
    width: 100%;

}
.input{ 
    width: 220px; 
    font-family: monospace; 
    padding: 5px; 
    float: right; 
    outline: none; 
    background-color: rgba(255,255,255, 0.3); 
    border-color: rgba(0,0, 0, 0.3);    
} 
.input::placeholder{
    color: rebeccapurple;
}