body{
    margin: 0; 
    display: flex;
    min-height: 100vh; 
    align-items: center; 
    text-align: center; 
    justify-content: center; 
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("download.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}   
.container{ 
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255,0.1); 
    box-shadow: 0 6px 10px rgba(0,0,0,0.3); 
    padding: 30px; 
    border-radius: 15px; 
    width: 90%; 
    margin: 10px; 
    text-align: center; 
    align-items: center; 
    
} 
.heading{
    font-size: 35px; 
    font-weight: 700;   
}
.Quote{ 
    font-size: 30px; 
    font-weight: 500; 
} 
.author{ 
    font-size: 25px; 
    margin: 10px; 
    font-style: italic; 
} 
.btn{
    font-size: 18px; 
    border-radius: 5px; 
    cursor: pointer ; 
    margin-top: 15px; 
    background-color: rgba(255,255,255,0.3); 
    text-transform: uppercase;
    border-color: rgba(255,255,255,0.6);
    width: 300px;  
} 
.btn:hover{
    background-color: rgba(255,255,255,0.6); 
    box-shadow: 0 4px 4px rgba(0, 0, 0,0.3); 
    transition: all 300ms ease-in-out; 
    color: cadetblue;
}